@import "tailwindcss";

@theme {
  --color-navy: #0B1528;
  --color-slate-800: #1e293b;
  --color-slate-500: #64748b;
  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Plus Jakarta Sans', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
}

.font-heading {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
